footer {
    background-color: rgb(0, 0, 0);
    border-top: solid 1px rgb(95, 70, 1);
    padding: 40px 0 ;
    color: white;
}

footer .container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    gap: 32px;

}
.footer_sobre {
    width: 300px;
}
#footer_logo p {
    display: flex;
    flex-direction: column;
    line-height: 0.9;
}
#footer_logo {
    margin: 0px;
    padding: 10px 0 ;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#footer_logo p {
    color: white;
}

.footer_sobre p {
    padding: 10px 0 ;
    font-size: 14px;
    color: rgb(188, 188, 188);
}

.footer_tel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.footer_contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.footer_card_icon {
    font-size: 12px;
    color: rgb(221, 163, 4);
}
.footer_redes {
    display: flex;
    flex-direction: column;
}
.footer_redes h1 {
    padding: 12px 0 ;
    font-size: 20px;
}

#redes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    
}

#redes i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;

    font-size: 24px;
    color: rgb(188, 188, 188);

    background-color: rgb(27, 27, 27);
    border: solid 1px rgb(53, 53, 53);

    transition: 0.3s;
}
#redes i:hover {
    background-color: rgb(221, 163, 4);
    color: white;
    cursor: pointer;
}

@media (max-width: 999px) {
    footer .container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    #redes {
        padding-bottom: 60px;
    }
    
}

#direitos_autorais {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 24px;
    letter-spacing: 1.2px;

    color: rgb(188, 188, 188);
    border-top: solid 1px rgb(95, 70, 1);

}

#autorais {
    font-size: 12px;
}

#direitos_autorais p {
    line-height: 1.6;
}

#direitos_autorais a {
    color: rgb(221, 163, 4);

    transition: 0.3s;
}
#direitos_autorais a:hover {
    cursor: pointer;
    color: white;
}