.fourth-section {
    background-color: black;
    padding: 100px 0;
}

.fourth-section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;

}
#fourth_text {
    margin-bottom: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;

    line-height: 1.2;
}
#fourth_text #fourth_text_um{
    color: rgb(221, 163, 4);
    font-size: 14px;
    padding: 16px 0 ;
    letter-spacing: 2px;
}
#fourth_text h1 {
    font-size: 48px;
    font-weight: 600;
}
#fourth_text span {
    color: rgb(221, 163, 4);
}
#fourth_text #fourth_text_dois {
    color: rgb(188, 188, 188);
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}


.fourth_contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    min-width: 100%;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 24px;

}

.card_contact {
    width: 550px;
    height: 100px;

    background-color: rgb(24, 24, 24);
    border: solid 1px rgb(53, 53, 53);
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 24px;
    gap: 24px;
}

.fourth_card_text {
    line-height: 1.7;
}

.card_icon {
    color: rgb(221, 163, 4);
    font-size: 24px;
    padding: 0 12px 12px 12px;
}

.fourth_card_title {
    font-size: 20px;
    font-weight: 600;
}

.fourth_card_text_um {
    color: rgb(188, 188, 188);
    font-size: 14px;
}

.fourth_card_text_dois {
    color: rgb(221, 163, 4);
    font-size: 12px;
}
.fourth_button {
    width: 100%;
}

#fourth_button_whats {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(221, 163, 4);
    color: white;

    width: 100%;
    height: 50px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
    
    transition: 0.3s;
}

#fourth_button_whats:hover {
    color: rgb(221, 163, 4);
    background-color: white;

    cursor: pointer;
}

.google_maps iframe {
    width: 550px;
    height: 570px;
}

#horario_funcionamento {
    display: flex;
    justify-content: space-between;
}

#horario_funcionamento .fourth_card_text_dois {
    font-size: 14px;
}


@media (max-width: 999px) {

    #fourth_text {
        width: 100%;
    }

    #fourth_text h1 {
        font-size: 40px;
        text-align: center;
    }

    .fourth_contact {
        flex-direction: column;
        gap: 40px;
    }

    .card_contact {
        width: 100%;
    }

    .fourth_card_title {
        font-size: 18px;
    }

    .google_maps iframe {
        width: 100%;
        height: 400px;
    }

}